<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melodify - Register</title>
</head>

<body>
    <div class="grid-container">
        <div class="left-section">
            <div class="top-left">
                <img src="assets/Melodify logo.png" alt="Melodify Logo" class="logo">
                <h1>Melodify</h1>
            </div>
            <div class="left-image-container">
                <img src="assets/background - register.png" alt="Background image">
            </div>
        </div>
        <div class="right-section">
            <div class="col-lg-9 mb-5">
                <h1 class="mb-5">Register</h1>
                <form>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="name">Full Name</label>
                        <input type="text" id="name" class="form-control" placeholder="Your Full Name here"/>
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="email">Email</label>
                        <input type="email" id="email" class="form-control" placeholder="exemple@domain.com"/>
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="password">Password</label>
                        <input type="password" id="password" class="form-control"placeholder="Your password here" />
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="confirmPassword">Confirm Password</label>
                        <input type="password" id="confirmPassword" class="form-control" placeholder="Your password here"/>
                    </div>
                    <button type="submit" class="btn btn-lg btn-outline-primary shadow-lg w-100 btn-custom btn-animated">
                        Register
                    </button>
                    <div class="link">
                        <a routerLink="">
                            Already have an account? Sign-in
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html> 