<div class="grid-container">
    <div class="left-section">
        <div class="top-left">
            <img src="assets/Melodify logo.png" alt="Melodify Logo" class="logo">
            <h1>Melodify</h1>
        </div>
        <div class="left-image-container">
            <img src="assets/remedin.png" alt="Background image">
        </div>
    </div>
    <div class="right-section">
        <div class="col-lg-9 mb-5 form-wrapper">
            <h1 class="mb-5">Register</h1>
            <form [formGroup]="form">
                <div class="form-outline mb-4 custom-form">
                    <label class="form-label" for="name">Full Name</label>
                    <mat-form-field class="example-full-width">
                        <input id="name" matInput placeholder="Your Full Name Here">
                    </mat-form-field>
                </div>
                <div class="form-outline mb-4 custom-form">
                    <label for="email">Email</label>
                    <mat-form-field appearance="fill">
                        <input placeholder="example@domain.com" id="email" matInput required />
                    </mat-form-field>
                </div>
                <div class="form-outline mb-4 custom-form">
                    <label for="password">Password</label>
                    <mat-form-field appearance="fill">
                        <input placeholder="Your password here" id="password" matInput
                            [type]="hidePassword ? 'password' : 'text'" required />
                        <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="form-outline mb-4 custom-form">
                    <label for="confirmPassword">Confirm Password</label>
                    <mat-form-field appearance="fill">
                        <input placeholder="Confirm your password" id="confirmPassword" matInput
                            [type]="hidePassword ? 'password' : 'text'" required />
                    </mat-form-field>
                </div>
                <button type="submit" class="btn btn-lg btn-outline-primary shadow-lg w-100 btn-custom btn-animated">
                    Register
                </button>
                <div class="link">
                    <a routerLink="me">
                        Already have an account? Sign-in
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
