.screen {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    cursor: default;

    .top-section {
        flex: 1;
        background-image: url('/assets/madeline.png');
        background-size: contain;
        background-position: center;
        align-items: flex-start;
        position: relative; 

        .top-right {
            position: absolute;
            right: 0;
            top: 2rem;
            i {
                font-size: 2.5rem;
                color: var(--border-color);
                cursor: pointer;
                margin-right: 1em;
            }
        }

        .top-melodify {
            align-items: flex-start;
            margin: 20px;
            h1 {
                color: var(--form-color);
                font-size: 2em;
                font-weight: 500;
                margin-left: 0.5em;
            }

            img {
                width: 3.75rem;
                height: auto;
                padding: 5px;
            }
        }

        header {
            display: flex;
            align-items: center;
            padding: 20px;
            
            .logo {
                width: 40px;
                height: 40px;
                margin-right: 10px;
            }

            h1 {
                font-size: 1.5rem;
                color: #ffffff;
                font-weight: bold;
                margin: 0;
            }
        }
    }

    .bottom-section {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--secondary-color);
        padding: 20px;
        box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.393); 

        .container {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 90%;
            padding: 20px;
            box-sizing: border-box;

            h3 {
                margin: 0;
                margin-bottom: 20px;
                text-align: center;
                font-size: 3rem;
                color: #ffffff;
                font-weight: 500;
                letter-spacing: 2px;  
                position: relative;
                transition: color 0.3s ease, transform 0.3s ease; 
                text-shadow: 2px 2px 4px rgba(6, 16, 211, 0.3);
            
                &:hover {
                    transform: scale(1.1); 
                }
            
                &::after {
                    content: ''; 
                    position: absolute;
                    bottom: -5px;  
                    left: 50%;
                    transform: translateX(-50%);
                    width: 50px;
                    height: 3px;
                    background-color: var(--border-color);
                    border-radius: 2px;
                    opacity: 0;
                    transition: opacity 0.3s ease;
                }
            
                &:hover::after {
                    opacity: 1
                }
            }

            label {
                margin-top: 10px;
                font-size: 1.2rem;
                font-weight: 500;
            }

            input {
                width: 100%;
                padding: 10px;
                margin-top: 5px;
                margin-bottom: 15px;
                border-radius: 10px;
                border: none;
                background-color: #2e2e4e;
                color: #ccc;
                font-size: 1rem;
                box-sizing: border-box;
                transition: border 0.3s ease, box-shadow 0.3s ease;
            
                &::placeholder {
                    color: #888;
                }
            
                &:focus {
                    outline: none;
                    border: 2px solid var(--border-color);
                    box-shadow: 0 0 5px var(--border-color);
                }
            }
            
        }
    }
}
