<div class="screen">
    <div class="top-section d-flex">
        <div class="top-melodify d-flex">
            <img src="assets/Melodify logo.png" alt="Melodify Logo" class="logo">
            <h1>Melodify</h1>
        </div>
        <div class="top-right">
            <i routerLink="/home" class="fa-solid fa-circle-user"></i>
        </div>
    </div>

    <div class="bottom-section">
        <div class="container">
            <h3>Personal Information</h3>
            <div *ngIf="userData">
                <label>Email</label>
                <input type="text" [value]="userData.email" readonly>
                
                <label>Name</label>
                <input type="text" [value]="userData.name" readonly>
            </div>
        </div>
    </div>
</div>
