<main>
    <div class="grid-container">
        <div class="left-section">
            <div class="top-left">
                <h1>Playlist</h1>
                <img src="assets/Melodify logo.png" alt="logo">
            </div>
            <div class="medium-left">
                <img src="" alt="music">
                <h2>My Playlist</h2>
                <img src="" alt="people">
                <img src="" alt="add">
                <img src="" alt="arrow">
            </div>
            <div class="bottom-left">
                <div class="music-left">
                    <p>01</p>
                    <img src="" alt="music image">
                    <h2>Title</h2>
                    <h3>Title</h3>
                    <img src="" alt="play">
                </div>
                <!-- acidionar mais músicas conforme a Playlist -->
            </div>
        </div>
        <div class="right-section">
            direita
        </div>
    </div>
    <footer>
        footer
    </footer>
</main>