<div class="popular-songs">
    <h1>Popular Songs</h1>
    <div class="popular-songs-images d-flex">
        <div class="pupular-song">
            <img src="assets/iluminado.png" alt="">
        </div>
        <div class="pupular-song">
            <img src="assets/blue.png" alt="">
        </div>
        <div class="pupular-song">
            <img src="assets/amor.png" alt="">
        </div>
        <div class="pupular-song">
            <img src="assets/madeline.png" alt="">
        </div>
    </div>
</div>
<div class="low-content d-flex justify-content-around">
    <div class="top-artists">
        <h1>Top Artists</h1>
        <div class="d-flex">
            <div class="artist-content">
                <img src="assets/seu-maico.jpg" alt="">
                <h2>Michael</h2>
                <p>2.323,32</p>
            </div>
            <div class="artist-content">
                <img src="assets/kayne.jpeg" alt="">
                <h2>Kayne West</h2>
                <p>1.243,02</p>
            </div>
            <div class="artist-content">
                <img src="assets/taylor.jpeg" alt="">
                <h2>Taylor Swift</h2>
                <p>4.153,92</p>
            </div>
            <div class="artist-content">
                <img src="assets/beyonce.jpeg" alt="">
                <h2>Beyoncé</h2>
                <p>3.051,10</p>
            </div>
                </div>
        </div>
        <div class="genres">
            <h1>Genres</h1>
            <div class="container-genres">
                <div class="genre">Trap</div>
            </div>
            <div class="container-genres">
                <div class="genre">Pop</div>
            </div>
            <div class="container-genres">
                <div class="genre">Rock</div>
            </div>
            <div class="container-genres">
                <div class="genre">Eletronic</div>
            </div>
            <div class="container-genres">
                <div class="genre">Rap</div>
            </div>
            <div class="container-genres">
                <div class="genre">HipHop</div>
            </div>
            <div class="container-genres">
                <div class="genre">Jazz</div>
            </div>
            <div class="container-genres">
                <div class="genre">Dance Beat</div>
            </div>
</div>