header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-header {
    nav {
        display: flex;
        gap: 25px;
        margin: 1rem 0 0 1.5rem;
    }

    li {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: var(--white);
        font-size: 1em;
    }
}

.right-header {
    nav {
        display: flex;
        align-items: center;
        gap: 30%;
    }

    .search-input {
        margin-top: 10px;
        padding: 0.2rem;
        border-radius: 40px;
        font-size: 0.9em;
        width: 35em;
        border: 3.5px solid var(--white);
        background-color: var(--input-color);

        &:hover {
            border: 3.5px solid var(--border-color);
            transition: border-color 0.3s ease;
        }

        &:focus {
            outline: none;
            border: 3.5px solid var(--border-color);
            color: var(--font);
        }
    }

    ::placeholder {
        text-align: center;
    }

    i {
        cursor: pointer;
        font-size: 2em;

        &:hover {
            color: var(--border-color);
            transition: color 1.5s ease;
        }
    }
}
