/* Estilos principais */
.all-musicRegister {
    background: linear-gradient(10deg, var(--primary-color), var(--tertiary-color), var(--secondary-color));
    padding: 40px 0; 
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-musicRegister {
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--secondary-color);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0px 4px 8px rgba(0, 242, 246, 0.66);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    flex-grow: 1;
}

.container-musicRegister h1 {
    font-size: 1.8em;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 20px;
}

.musicRegister-content {
    width: 100%;
    max-width: 600px;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
}

.input-label {
    width: 100%;
}

@media (min-width: 769px) {
    .input-label {
        flex: 1 1 48%;
    }
}

@media (max-width: 768px) {
    .input-label {
        width: 100%;
    }
}

@media (max-height: 600px) {
    .container-musicRegister {
        max-height: 90vh;
        overflow-y: auto;
    }
}

mat-form-field {
    width: 100%;
}

.filesInput {
    width: 100%;
}

input#cover.form-control {
    background-color: var(--input-color);
    color: var(--font-color);
    border: 4px solid var(--border-color2);
    margin-bottom: 10px;
}

input#cover.form-control:focus {
    border: 4px solid var(--border-color);
}

input#cover.form-control::-webkit-file-upload-button {
    background-color: var(--input-color);
    color: var(--font-color);
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

input#cover.form-control::-webkit-file-upload-button:hover {
    border: 2px solid var(--border-color);
}
