#page-wrapper {
    background-color: var(--primary-color);
    height: 100vh;
    display: flex;
    flex-direction: column;

    .top-row {
        height: 80%;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
    }

    .playlist-section {
        width: 30%;
    }
    
    .main-section {
        padding: 20px;
        background-color: var(--primary-color);
        width: 70%;
        overflow: auto;
    }

    .footer {
        background-color: var(--tertiary-color);
        width: 100%;
        min-height: 5rem;
        height: auto;
        padding: 10px 0;
        text-align: center;
    }

    .left-section {
        background-color: var(--secundary-color);
        height: calc(100vh - 7rem);
        width: 30%;
        overflow-y: auto;
        
        .playlist-selector-left {
            padding: 20px;
            display: flex;
            flex-direction: column;

            .popular-songs {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
                gap: 20px;
                margin-top: 20px;
            }

            .popular-songs img {
                width: 100%;
                object-fit: cover;
            }
            
            .playlist-selector-left-flex {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            
            i {
                margin: 0 0.7rem;
                font-size: 1.2rem;
                align-content: center;
            }
        }

        .playlist-selector {
            display: flex;
        }
        
        .playlist {
            display: flex;
            flex-direction: column;
            row-gap: 0.8rem;
            i {
                margin: 15px;
                font-size: 24px;
            }
            
            .music {
                border: 0.1rem solid #4b516028;
                border-radius: 1rem;
                padding: 0.5rem;
        
                .music-img {
                    width: 50px;
                }
            }

            .music-info {
                gap: 20px;
                
                p {
                    margin: 1em 0px 1em 0.5em;
                    font-size:larger;
                    color: #999;
                }
                
                h4 {
                    margin-top: -1.5rem;
                    color: #999;
                }

                h3.selected {
                    font-weight: 500;
                }

                .not-selected {
                    font-size: large;
                    font-weight: 500;
                }
            }
        }

        .playlist-selector-music {
            color: #666;
            max-height: 30px;
            margin-top: 10px;

            h1 {
                font-size: 20px;
                font-weight: 500;
                margin: 0;
            }

            i {
                color: #666;
                margin-right: 20px;
                font-size: 20px;
            }
        }
    }
}

h1 {
    font-size: 2.3rem;
    font-weight: 500;
    margin: 0;
    
}

h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
}

h3 {
    font-size: 1.2rem;
    margin: 0;
}

h4 {
    font-size: 0.9rem;
    font-weight: 400;
}


.icon {
    width: 30px;
    margin-left: 10px;
}