#page-wrapper {
    background-color: var(--primary-color);
    height: 100vh;
    display: flex;
    flex-direction: column;

    app-header {
        position: sticky;
    }

    .top-row {
        height: 80%;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
    }

    .playlist-section {
        width: 30%;
    }
    
    .main-section {
        padding: 20px;
        background-color: var(--primary-color);
        width: 70%;
        overflow: auto;
    }

    .footer {
        background-color: var(--tertiary-color);
        width: 100%;
        min-height: 5rem;
        height: auto;
        padding: 10px 0;
        text-align: center;
    }
}

h1 {
    font-size: 2.3rem;
    font-weight: 500;
    margin: 0;
    
}

h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
}

h3 {
    font-size: 1.2rem;
    margin: 0;
}

h4 {
    font-size: 0.9rem;
    font-weight: 400;
}


.icon {
    width: 30px;
    margin-left: 10px;
}