#main-wrapper,
#main-wrapper>* {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    *:not(.sneaky) {
        margin: 0 0.4rem;
    }

    
    div#controls {
        width: 15rem;
        margin-left: 5rem;
        .custom-repeat-1 {
            background-image: url("assets/repeat-1.png"); // TODO
        }
    }

    div#seekbar-dashboard {
        flex-grow: 1;
        max-width: 60%;
        margin: 0 5rem;

        #seekbar {
            flex-grow: 1;
        }
    }

    #volume-dashboard {
        border: 0.15rem solid #3740586e;
        border-radius: 0.5rem;
    }
}

::ng-deep .mdc-slider__value-indicator {
    background-color: hsl(200, 61%, 30%) !important; // Adjust this color to the desired darker shade
}