#main-wrapper,
#main-wrapper>* {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    *:not(.sneaky) {
        margin: 0 0.4rem;
    }

    
    div#controls {
        width: 10rem;
    }

    div#seekbar-dashboard {
        flex-grow: 1;
        max-width: 60%;

        #seekbar {
            flex-grow: 1;
        }
    }

    #volume-dashboard {
        width: 10.5rem;
        
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
    }
}

::ng-deep .mdc-slider__value-indicator {
    background-color: hsl(200, 75%, 38%) !important; // Adjust this color to the desired darker shade
}