/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0B1320;
    --secundary-color: #111727;
    --font-color: #777B86;
    --font-colorHover: #818590;
    --input-color: #3D4353;
    --input-colorHover: #4b5160;
    --secundary-input: #9A9DA3;
    --form-color: #D9D9D9;
    --white: #FFF;
    --border-color2: #2c3245;
    --border-color: #00ECFF;
    --border-color: #00ECFF;    
    --link-color: #F7DBFF;
    --gradient-button: linear-gradient(to right, #00ECFF, #0072ff);
}

body {
    font-family: "Inter", "Helvetica Neue", "Helvetica";
    height: 100%;
}

